@import "../../scss/main.scss";

.recipes {
  width: 100%;
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &-text {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
    }
  }
  &__filters {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    border-bottom: 1px solid $tertiaryColor;
  }
  &__filter {
    width: fit-content;
    margin: 0 5px 10px;
    font-size: 14px;
    font-weight: 400;
    padding: 6px 10px;
    border: 1px solid $tertiaryColor;
    border-radius: 25px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &--active {
      border: 2px solid $mainColor;
      color: $mainColor;
    }
  }
  &__list {
    width: 100%;
    &-titles {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $tertiaryColor;
      padding: 10px 8px;
      margin-bottom: 15px;
      div {
        font-size: 15px;
        font-weight: 700;
      }
    }
  }
  &__recipe {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
    background-color: rgba(250, 245, 246, 0.4);
    border-radius: 2px;
    font-size: 15px;
    padding: 15px 8px;
    box-shadow: 0 0 5px -1px $shadowColor;
    transition: box-shadow 0.4s ease-out, color 0.4s ease-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    &:hover {
      box-shadow: 0 0 5px rgba(53, 83, 149, 0.5);
      color: $mainColor;
    }
    margin-bottom: 8px;
    div {
      text-align: left;
    }
    &-name {
      width: 45%;
      font-weight: 700;
    }
    &-category {
      width: 30%;
    }
    &-calories {
      width: 20%;
    }
    &-ingredients {
      display: none;
    }
    &-description {
      display: none;
    }
  }
  .popup__content {
    @include mediaTablet {
      max-width: 550px;
      padding: 30px;
    }
  }
}
