@import "../../scss/main.scss";

.menu {
  width: 100%;
  height: 56px;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  border-top: 3px solid $mainColor;
  background-color: $bgColor;
  color: $secondaryTextColor;
  @include mediaDesktop {
    width: 93px;
    min-height: fit-content;
    height: 100vh;
    overflow-y: auto;
    top: 0;
    flex-direction: column;
    border-top: none;
    border-left: 5px solid $mainColor;
    border-right: 5px solid $mainColor;
    background-color: $mainColor;
    box-shadow: 2px 0 5px $shadowColor;
  }
  &__link {
    display: block;
    width: calc(100% / 5);
    height: 100%;
    padding: 5px;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:focus {
      outline: none;
    }
    @include mediaDesktop {
      width: 100%;
      height: auto;
      margin: 8px 0;
      color: $whiteColor;
      &:last-child {
        margin-top: auto;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 6px;
      }
      &--active {
        background-color: rgba(255, 255, 255, 0.9) !important;
        border-radius: 6px;
      }
    }
    @include mediaMax {
      padding: 8px 5px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    &-icon {
      font-size: 20px;
    }
    &-text {
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-size: 11px;
      text-align: center;
      margin-top: 3px;
    }
    &--active {
      color: $mainColor;
    }
  }
  &__submenu {
    width: calc((100% / 5) - 2px);
    position: fixed;
    bottom: 5px;
    right: 2px;
    display: flex;
    flex-direction: column-reverse;
    background-color: $bgColor;
    box-shadow: 0.5px 0.5px 8px $shadowColor;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    transform: scaleY(0);
    transition: transform 0.3s ease-out, bottom 0.3s ease-out;
    &--show {
      bottom: 56px;
      transform: scaleY(1);
    }
    &-item {
      width: 100%;
      padding: 8px 4px;
    }
  }
}
