@import "../../scss/main.scss";

.change-password {
  width: 100%;
  @include mediaTablet {
    margin: 0 auto;
    width: 60%;
  }
  @include mediaDesktop {
    margin: 0;
    width: 550px;
  }
  &__title {
    width: 100%;
    font-weight: 600;
    color: $mainColor;
    margin-bottom: 10px;
    padding: 0 8px 15px;
    border-bottom: 1px solid $mainColor;
  }
  &__error {
    font-size: 14px;
    font-weight: 400;
    padding: 0 0 8px 8px;
    color: $errorColor;
  }
  .button {
    @include mediaDesktop {
      width: 200px !important;
    }
  }
}
