@import "../../scss/main.scss";

.popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.4s ease-out;
  &--show {
    background-color: rgba(0, 0, 0, 0.4);
  }
  &__content {
    width: 90%;
    max-height: 90vh;
    overflow-y: auto;
    background: $bgColor;
    border: 1px solid $borderColor;
    border-radius: 8px;
    padding: 20px;
    opacity: 0;
    margin-top: -10%;
    transform: translateY(-25%);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    &--show {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $mainColor;
    padding: 0 10px 10px;
    &-title {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.2px;
      color: $tertiaryColor;
    }
    &-close {
      font-size: 18px;
      color: $secondaryTextColor;
      cursor: pointer;
      transition: transform 0.5s ease-out;
      &:hover {
        transform: rotate(90deg);
      }
    }
  }
  &__main {
    padding-top: 10px;
  }
}
