@import "../../scss/main.scss";

.logo {
  width: fit-content;
  display: flex;
  align-items: center;
  &__content {
    width: fit-content;
    position: relative;
  }
  &__calendar-icon {
    color: $mainColor;
  }
  &__utensils-icon {
    position: absolute;
    top: 45%;
    color: $mainColor;
  }
  &__title {
    font-family: "Pacifico", cursive;
    margin-left: 15px;
    text-shadow: 0 0 2px $mainColor;
  }
}
