@import "../../scss/main.scss";

.home {
  width: 100%;
  padding: 20px;
  margin-bottom: 56px;
  @include mediaDesktop {
    width: calc(100% - 93px);
    margin-bottom: 0;
    margin-left: 93px;
  }
  @include mediaMax {
    padding: 20px 30px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $mainColor;
    padding: 5px 10px 15px;
  }
  &__title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: $tertiaryColor;
  }
}
