@import "../../scss/main.scss";

.form-input {
  width: 100%;
  margin: 5px 0;
  &__content {
    display: flex;
    flex-direction: column;
  }
  &__label {
    padding-left: 8px;
    font-weight: 600;
    color: $mainColor;
  }
  &__input {
    font-size: 15px;
    font-weight: 300;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid $textColor;
    border-radius: 5px;
    &:focus {
      border-color: $mainColor;
      box-shadow: 0 0 4px $shadowColor;
    }
    &--error {
      border-color: $errorColor;
    }
  }
  &__error {
    font-size: 14px;
    font-weight: 400;
    padding-left: 8px;
    color: $errorColor;
    padding-bottom: 5px;
  }
}
