@import "../../scss/main.scss";

.desktop-not-available {
  width: 500px;
  margin: 0 auto;
  &__logo {
    width: fit-content;
    margin: 250px auto 50px;
  }
  &__content {
    background: $bgColor;
    width: 100%;
    border: 1px solid $mainColor;
    border-radius: 8px;
    box-shadow: 0.5px 0.5px 8px $shadowColor;
    padding: 20px;
  }
}
