@import "./reset.scss";
@import "./fonts.scss";
@import "./colors.scss";
@import "./mixins.scss";

body {
  font-family: $base-font;
  color: $textColor;
  background: $bgColor;
}

.app {
  max-width: 100%;
  margin: 0 auto;
}
